{% extends "layout.html" %}

{% block content %}
<h1>Update User</h1>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="emaik" class="form-control" id="email" name="email" value="{{ user.email }}" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" id="role" name="role" required>
            <option value="Admin" {% if user.role == 'Admin' %}selected{% endif %}>Admin</option>
            <option value="Costumer" {% if user.role == 'Costumer' %}selected{% endif %}>Costumer</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
